In [129]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.tree import plot_tree
import pickle

In [39]:
df_subms = pd.read_json('data/submissions2.json')
df_subms

,_id,environment,hitPercentage,char_change_number,timeConsuming,createdAt,user_id,question_id,listQuestions_id,test_id,class_id,tag
0,{'$oid': '6349c8707bc8b3663ac11e31'},desktop,40,426,138952,{'$date': {'$numberLong': '1601328323000'}},d3f2c224-91bb-4a6a-b4b6-ab96579d070b,37505931-c445-4483-8841-1ab187ad2722,9338cc7b-7cf4-4d9f-af63-25a7effa7189,None,59dfe476-1325-433f-b676-c8df9a2c2072,Estruturas Condicionais
1,{'$oid': '6349c8707bc8b3663ac11e32'},desktop,0,1186,192984,{'$date': {'$numberLong': '1600803644000'}},e787cce7-8b1a-48c2-9b19-20e47d385903,21035442-4f71-486b-b31d-2bc09ce02a16,dd1cd083-6c00-4605-9ff1-163bd4069363,None,59dfe476-1325-433f-b676-c8df9a2c2072,Estruturas de Repetição
2,{'$oid': '6349c8707bc8b3663ac11e33'},desktop,0,299,109558,{'$date': {'$numberLong': '1600440401000'}},9e959b70-4dd8-45ef-ac98-f9e5a12e0b95,dc0e768c-3f8a-4e41-a5e9-cbce0f9cd672,aca84206-87b2-4478-afa4-6193119cc06a,None,59dfe476-1325-433f-b676-c8df9a2c2072,None
3,{'$oid': '6349c8707bc8b3663ac11e34'},desktop,100,156,5314,{'$date': {'$numberLong': '1584206837000'}},aebafa64-a97e-401f-aece-c10e6aba7ef5,1a56bcee-0cb1-46f2-90fe-fde9b5c7bef8,c6f3f5e5-0b0c-4396-92ba-d22d4125f555,None,59dfe476-1325-433f-b676-c8df9a2c2072,Operadores Aritméticos
4,{'$oid': '6349c8707bc8b3663ac11e35'},desktop,0,446,171979,{'$date': {'$numberLong': '1601678212000'}},22195123-f65a-481c-a492-44c679755ddc,6808752f-774c-4711-85c5-6a71e7545ef7,9338cc7b-7cf4-4d9f-af63-25a7effa7189,None,59dfe476-1325-433f-b676-c8df9a2c2072,Estruturas Condicionais
...,...,...,...,...,...,...,...,...,...,...,...,...
231727,{'$oid': '6349c9187bc8b3663ac4a75b'},desktop,0,198,1043528,{'$date': {'$numberLong': '1635991968000'}},b0232156-c10c-4be6-a51e-fbe350bb5f86,3fe0539d-4aed-44cb-95b7-6f727b599f81,42d5c4ad-7b44-4e4e-b2e5-2997785132c8,None,f7144f91-f493-4e55-aac5-39f0d4add995,Operadores Aritméticos
231728,{'$oid': '6349c9187bc8b3663ac4a75d'},desktop,100,33,121458,{'$date': {'$numberLong': '1637986946000'}},0b221eae-defb-47f1-bf8e-db422319a4bb,d3d961f3-7a7f-4569-bb8b-6620266bd7ea,f5b1d992-68de-4854-97d8-c4bd84bd593b,None,f7144f91-f493-4e55-aac5-39f0d4add995,None
231729,{'$oid': '6349c9187bc8b3663ac4a75f'},desktop,0,956,999543,{'$date': {'$numberLong': '1645250222000'}},b2e1978f-4b5f-4852-ba3a-9bc01c71cdb5,9651e276-42b1-4f06-9e41-fa3a6febcb69,c4d09d1b-73a5-45c6-8a0d-ead669114b65,None,f7144f91-f493-4e55-aac5-39f0d4add995,Estruturas de Repetição
231730,{'$oid': '6349c9187bc8b3663ac4a761'},desktop,100,444,216174,{'$date': {'$numberLong': '1638563602000'}},8e62252e-4e44-4632-93d3-4a96e5b66998,4c006108-460a-4a76-aac3-63b0606f0a86,42d5c4ad-7b44-4e4e-b2e5-2997785132c8,None,f7144f91-f493-4e55-aac5-39f0d4add995,Operadores Aritméticos
231731,{'$oid': '6349c9187bc8b3663ac4a763'},desktop,100,292,278850,{'$date': {'$numberLong': '1635962988000'}},d8767187-903a-4e4f-a706-98c3655bd842,7337a753-839c-431b-9666-d6183e3d83a5,42d5c4ad-7b44-4e4e-b2e5-2997785132c8,None,f7144f91-f493-4e55-aac5-39f0d4add995,Operadores Aritméticos

In [40]:
df_classes = df_subms['class_id'].drop_duplicates().reset_index(name="class_id")
df_classes = df_classes.drop("index", axis=1)
df_classes

                               class_id
0  59dfe476-1325-433f-b676-c8df9a2c2072
1  6d04019e-905c-4d70-810a-a7f1fa34fe22
2  77335557-c5d1-4144-be6e-84b6114ec22e
3  8394d1cb-86b5-4b90-bc62-4b9b192a81f6
4  8f055c33-00ad-4284-aec8-da401901e795
5  ca9ea92d-a0a9-4a62-8a05-24793f0a823f
6  d99923f0-d174-4902-9759-c8220b821d36
7  e9c7c378-eac4-44b2-b687-4dca6d77cd54
8  f2dd7bef-5b5d-4cb3-9efa-aa8652af0605
9  f7144f91-f493-4e55-aac5-39f0d4add995

In [41]:
questionLists = df_subms['listQuestions_id'].drop_duplicates().reset_index()
questionLists = questionLists['listQuestions_id'].astype('string').reset_index()
questionLists = questionLists.drop("index", axis=1)
questionLists

                        listQuestions_id
0   9338cc7b-7cf4-4d9f-af63-25a7effa7189
1   dd1cd083-6c00-4605-9ff1-163bd4069363
2   aca84206-87b2-4478-afa4-6193119cc06a
3   c6f3f5e5-0b0c-4396-92ba-d22d4125f555
4   813dedaa-0989-489b-9804-3850ae4b83d1
5   f5bc770d-2ac7-4060-ab1c-e42b5541f7a7
6   5ebe517f-50f2-4629-a22f-1dea895fce25
7   1551e3ed-c875-4bb3-8e4e-58407df40776
8   cf509a46-6a97-440e-a5c0-f7ba7537ef96
9   e1f0e8be-54fe-4b54-8d6d-2451bedc0647
10  102050fa-c902-4258-a988-01dad84ff63f
11  cf81af12-b0b7-40c2-8536-5e7445ace7a3
12  0a2c49a2-482c-40d7-bc44-ee368f089560
13  c4d09d1b-73a5-45c6-8a0d-ead669114b65
14  93cd33c4-109a-401e-87e9-e26ff5929d37
15  34691c68-f01d-46ad-808d-6bbd44bcd9a2
16  3ab11cee-77d1-4448-9587-880929570cf3
17  42d5c4ad-7b44-4e4e-b2e5-2997785132c8
18                                  <NA>
19  70d1aa7e-00cb-4428-892f-9ac67cc50449
20  f5b1d992-68de-4854-97d8-c4bd84bd593b
21  dbfcc83c-f014-44ae-8260-f06d4e1370ba
22  70e6c800-7583-485d-ac9f-9c42c48dd785
23  4f3452ae-87d4-4a5f-9532-c7634da2cff0
24  9bfe2a0b-120f-4df7-a3f7-89a8e100b0b1
25  bd91406e-0a5a-4d22-8e7d-f61a4352b509

In [42]:
remove_classes_list = df_classes['class_id'].tolist()
df_subms_target = df_subms[df_subms.class_id!=remove_classes_list[0]]
df_subms_target = df_subms_target[df_subms_target.class_id!=remove_classes_list[5]]
df_subms_target = df_subms_target[df_subms_target.class_id!=remove_classes_list[8]]

In [43]:
df_subms_target.loc[df_subms_target['listQuestions_id'].isnull(), 'listQuestions_id']='test'

In [44]:
df_subms_target

,_id,environment,hitPercentage,char_change_number,timeConsuming,createdAt,user_id,question_id,listQuestions_id,test_id,class_id,tag
21002,{'$oid': '6349c87f7bc8b3663ac1704b'},desktop,100,92,385744,{'$date': {'$numberLong': '1614294105000'}},d55fcdb4-c667-45f3-ab3b-98a7e11a97c7,155d6b64-72c2-440b-b8a6-4abfe474e7ab,42d5c4ad-7b44-4e4e-b2e5-2997785132c8,None,6d04019e-905c-4d70-810a-a7f1fa34fe22,Operadores Aritméticos
21003,{'$oid': '6349c87f7bc8b3663ac1704e'},desktop,0,970,6549958,{'$date': {'$numberLong': '1615307401000'}},2a4711b3-b376-4113-b542-1b920380202f,d93b21fd-9f06-460f-ab13-9fc070f6abdb,test,92f9a17b-7f39-4c30-8b47-994ec6ee2b94,6d04019e-905c-4d70-810a-a7f1fa34fe22,Operadores Aritméticos
21004,{'$oid': '6349c87f7bc8b3663ac17050'},desktop,0,277,578302,{'$date': {'$numberLong': '1615582657000'}},df34f122-bad7-4d25-9a9f-a80ca0637ec0,b30961ca-2439-424a-823a-47429b15502f,0a2c49a2-482c-40d7-bc44-ee368f089560,None,6d04019e-905c-4d70-810a-a7f1fa34fe22,Estruturas de Repetição
21005,{'$oid': '6349c87f7bc8b3663ac17052'},desktop,0,416,1809475,{'$date': {'$numberLong': '1615133407000'}},b82b8779-0094-481f-a994-81224395353c,593a6652-635b-4056-bd39-daf8874cc7b8,70d1aa7e-00cb-4428-892f-9ac67cc50449,None,6d04019e-905c-4d70-810a-a7f1fa34fe22,Estruturas Condicionais
21006,{'$oid': '6349c87f7bc8b3663ac17053'},desktop,0,2377,16246021,{'$date': {'$numberLong': '1615173405000'}},cf10f4cd-782f-4f37-9089-b33a6b9d0105,a88a34e2-307b-4b15-a983-501bc194e85c,f5b1d992-68de-4854-97d8-c4bd84bd593b,None,6d04019e-905c-4d70-810a-a7f1fa34fe22,None
...,...,...,...,...,...,...,...,...,...,...,...,...
231727,{'$oid': '6349c9187bc8b3663ac4a75b'},desktop,0,198,1043528,{'$date': {'$numberLong': '1635991968000'}},b0232156-c10c-4be6-a51e-fbe350bb5f86,3fe0539d-4aed-44cb-95b7-6f727b599f81,42d5c4ad-7b44-4e4e-b2e5-2997785132c8,None,f7144f91-f493-4e55-aac5-39f0d4add995,Operadores Aritméticos
231728,{'$oid': '6349c9187bc8b3663ac4a75d'},desktop,100,33,121458,{'$date': {'$numberLong': '1637986946000'}},0b221eae-defb-47f1-bf8e-db422319a4bb,d3d961f3-7a7f-4569-bb8b-6620266bd7ea,f5b1d992-68de-4854-97d8-c4bd84bd593b,None,f7144f91-f493-4e55-aac5-39f0d4add995,None
231729,{'$oid': '6349c9187bc8b3663ac4a75f'},desktop,0,956,999543,{'$date': {'$numberLong': '1645250222000'}},b2e1978f-4b5f-4852-ba3a-9bc01c71cdb5,9651e276-42b1-4f06-9e41-fa3a6febcb69,c4d09d1b-73a5-45c6-8a0d-ead669114b65,None,f7144f91-f493-4e55-aac5-39f0d4add995,Estruturas de Repetição
231730,{'$oid': '6349c9187bc8b3663ac4a761'},desktop,100,444,216174,{'$date': {'$numberLong': '1638563602000'}},8e62252e-4e44-4632-93d3-4a96e5b66998,4c006108-460a-4a76-aac3-63b0606f0a86,42d5c4ad-7b44-4e4e-b2e5-2997785132c8,None,f7144f91-f493-4e55-aac5-39f0d4add995,Operadores Aritméticos
231731,{'$oid': '6349c9187bc8b3663ac4a763'},desktop,100,292,278850,{'$date': {'$numberLong': '1635962988000'}},d8767187-903a-4e4f-a706-98c3655bd842,7337a753-839c-431b-9666-d6183e3d83a5,42d5c4ad-7b44-4e4e-b2e5-2997785132c8,None,f7144f91-f493-4e55-aac5-39f0d4add995,Operadores Aritméticos

In [45]:
hits = pd.to_numeric(df_subms_target['hitPercentage'], downcast='integer', errors='coerce').reset_index()
hits_list = hits['hitPercentage'].tolist()
df_subms_target = df_subms_target.drop('hitPercentage', axis=1)
df_subms_target = df_subms_target.assign(hitPercentage= hits_list)
df_performance = df_subms_target.drop('hitPercentage', axis=1)
df_performance = df_performance.assign(hitPercentage = hits_list)
#pontuação máxima em cada questão por auluno
df_performance= df_performance.groupby(['user_id', 'question_id','class_id', 'listQuestions_id'])['hitPercentage'].max().reset_index()
#soma das notas por lista
df_performance= df_performance.groupby(['user_id','class_id', 'listQuestions_id'])['hitPercentage'].sum().reset_index()

In [46]:
df_performance

,user_id,class_id,listQuestions_id,hitPercentage
0,00ef5626-f029-49e8-aa27-1839357a55c0,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,4f3452ae-87d4-4a5f-9532-c7634da2cff0,500.0
1,00ef5626-f029-49e8-aa27-1839357a55c0,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,70e6c800-7583-485d-ac9f-9c42c48dd785,1000.0
2,01e8e5bd-3215-4276-9024-5ebc5a6897cf,f7144f91-f493-4e55-aac5-39f0d4add995,0a2c49a2-482c-40d7-bc44-ee368f089560,800.0
3,01e8e5bd-3215-4276-9024-5ebc5a6897cf,f7144f91-f493-4e55-aac5-39f0d4add995,1551e3ed-c875-4bb3-8e4e-58407df40776,700.0
4,01e8e5bd-3215-4276-9024-5ebc5a6897cf,f7144f91-f493-4e55-aac5-39f0d4add995,34691c68-f01d-46ad-808d-6bbd44bcd9a2,400.0
...,...,...,...,...
5612,fe56d94c-26d1-4e75-85d1-0b10a07ece8b,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,dbfcc83c-f014-44ae-8260-f06d4e1370ba,700.0
5613,fe56d94c-26d1-4e75-85d1-0b10a07ece8b,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,dd1cd083-6c00-4605-9ff1-163bd4069363,600.0
5614,fe56d94c-26d1-4e75-85d1-0b10a07ece8b,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,f5b1d992-68de-4854-97d8-c4bd84bd593b,1700.0
5615,fe56d94c-26d1-4e75-85d1-0b10a07ece8b,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,f5bc770d-2ac7-4060-ab1c-e42b5541f7a7,500.0
5616,fe56d94c-26d1-4e75-85d1-0b10a07ece8b,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,test,100.0

In [47]:
df_alunos = df_performance.drop_duplicates('user_id')
df_alunos

,user_id,class_id,listQuestions_id,hitPercentage
0,00ef5626-f029-49e8-aa27-1839357a55c0,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,4f3452ae-87d4-4a5f-9532-c7634da2cff0,500.0
2,01e8e5bd-3215-4276-9024-5ebc5a6897cf,f7144f91-f493-4e55-aac5-39f0d4add995,0a2c49a2-482c-40d7-bc44-ee368f089560,800.0
18,025b0056-585f-485e-92e7-57a0c7854cce,8f055c33-00ad-4284-aec8-da401901e795,0a2c49a2-482c-40d7-bc44-ee368f089560,800.0
33,02938d00-c7c8-4eaa-8d6b-3d7b3558abae,8f055c33-00ad-4284-aec8-da401901e795,0a2c49a2-482c-40d7-bc44-ee368f089560,200.0
43,03387725-33e3-417c-9093-3efb20c5ef08,6d04019e-905c-4d70-810a-a7f1fa34fe22,70d1aa7e-00cb-4428-892f-9ac67cc50449,980.0
...,...,...,...,...
5567,fbf55485-b2ca-429b-89d3-88ef2cd02105,8f055c33-00ad-4284-aec8-da401901e795,42d5c4ad-7b44-4e4e-b2e5-2997785132c8,200.0
5573,fd66de81-b657-41bb-9903-73370d0a0158,f7144f91-f493-4e55-aac5-39f0d4add995,42d5c4ad-7b44-4e4e-b2e5-2997785132c8,800.0
5577,fe12589b-3acd-4c67-9387-314b600fb8c3,8f055c33-00ad-4284-aec8-da401901e795,0a2c49a2-482c-40d7-bc44-ee368f089560,0.0
5585,fe3c3b36-a1ab-4365-b088-1686cd5177d0,d99923f0-d174-4902-9759-c8220b821d36,0a2c49a2-482c-40d7-bc44-ee368f089560,800.0
5601,fe56d94c-26d1-4e75-85d1-0b10a07ece8b,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,0a2c49a2-482c-40d7-bc44-ee368f089560,800.0

In [48]:
#número de questões por lista
df_listas_questoes = df_subms_target[['listQuestions_id', 'question_id', 'class_id', 'user_id']].copy()
df_listas_questoes=df_listas_questoes.drop_duplicates(subset=['listQuestions_id', 'question_id','user_id','class_id'])
df_listas_questoes=df_listas_questoes.drop_duplicates(subset=['listQuestions_id', 'question_id'])
df_listas_questoes = df_listas_questoes.groupby('listQuestions_id')['question_id'].count().reset_index()
df_listas_questoes.columns.values[1]='questQuant'
df_listas_questoes

                        listQuestions_id  questQuant
0   0a2c49a2-482c-40d7-bc44-ee368f089560           8
1   1551e3ed-c875-4bb3-8e4e-58407df40776           7
2   34691c68-f01d-46ad-808d-6bbd44bcd9a2           4
3   42d5c4ad-7b44-4e4e-b2e5-2997785132c8          12
4   4f3452ae-87d4-4a5f-9532-c7634da2cff0           5
5   70d1aa7e-00cb-4428-892f-9ac67cc50449          13
6   70e6c800-7583-485d-ac9f-9c42c48dd785          10
7   813dedaa-0989-489b-9804-3850ae4b83d1           7
8   93cd33c4-109a-401e-87e9-e26ff5929d37           6
9   aca84206-87b2-4478-afa4-6193119cc06a           8
10  c4d09d1b-73a5-45c6-8a0d-ead669114b65           7
11  dbfcc83c-f014-44ae-8260-f06d4e1370ba           7
12  dd1cd083-6c00-4605-9ff1-163bd4069363           6
13  f5b1d992-68de-4854-97d8-c4bd84bd593b          17
14  f5bc770d-2ac7-4060-ab1c-e42b5541f7a7           6
15                                  test           6

In [49]:
listas_questoes_list = df_listas_questoes['listQuestions_id'].tolist()
listas_quant_list = df_listas_questoes['questQuant'].tolist()
lenght = len(listas_questoes_list)
for i in np.arange(0,lenght):
    lista = listas_questoes_list[i]
    numQuest = listas_quant_list[i]
    for row in np.arange(len(df_performance.index)):
        if(df_performance.iloc[row]['listQuestions_id']==lista):
            df_performance.at[row, 'hitPercentage']=df_performance.iloc[row]['hitPercentage']/numQuest

In [50]:
df_performance

,user_id,class_id,listQuestions_id,hitPercentage
0,00ef5626-f029-49e8-aa27-1839357a55c0,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,4f3452ae-87d4-4a5f-9532-c7634da2cff0,100.000000
1,00ef5626-f029-49e8-aa27-1839357a55c0,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,70e6c800-7583-485d-ac9f-9c42c48dd785,100.000000
2,01e8e5bd-3215-4276-9024-5ebc5a6897cf,f7144f91-f493-4e55-aac5-39f0d4add995,0a2c49a2-482c-40d7-bc44-ee368f089560,100.000000
3,01e8e5bd-3215-4276-9024-5ebc5a6897cf,f7144f91-f493-4e55-aac5-39f0d4add995,1551e3ed-c875-4bb3-8e4e-58407df40776,100.000000
4,01e8e5bd-3215-4276-9024-5ebc5a6897cf,f7144f91-f493-4e55-aac5-39f0d4add995,34691c68-f01d-46ad-808d-6bbd44bcd9a2,100.000000
...,...,...,...,...
5612,fe56d94c-26d1-4e75-85d1-0b10a07ece8b,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,dbfcc83c-f014-44ae-8260-f06d4e1370ba,100.000000
5613,fe56d94c-26d1-4e75-85d1-0b10a07ece8b,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,dd1cd083-6c00-4605-9ff1-163bd4069363,100.000000
5614,fe56d94c-26d1-4e75-85d1-0b10a07ece8b,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,f5b1d992-68de-4854-97d8-c4bd84bd593b,100.000000
5615,fe56d94c-26d1-4e75-85d1-0b10a07ece8b,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,f5bc770d-2ac7-4060-ab1c-e42b5541f7a7,83.333333
5616,fe56d94c-26d1-4e75-85d1-0b10a07ece8b,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,test,16.666667

In [114]:
#PEGAR APENAS SUBMISSÕES DA LISTA 1
#4f3452ae-87d4-4a5f-9532-c7634da2cff0

df_subms_lista1 = df_subms_target.loc[df_subms_target['listQuestions_id']=='4f3452ae-87d4-4a5f-9532-c7634da2cff0']
df_subms_count_lista1 = df_subms_lista1.groupby('user_id')['_id'].count().reset_index()

df_errors_lista1 = df_subms_lista1.loc[df_subms_lista1['hitPercentage']==0] 
df_errors_lista1 = df_errors_lista1.groupby('user_id')['hitPercentage'].count().reset_index()

#get users list
df_total_users = df_subms_count_lista1.drop('_id', axis=1)
users_list = df_total_users['user_id'].tolist()
lenght = len(users_list)

#columns of df_errors_lista1
usersErrors_noZeros = df_errors_lista1['hitPercentage'].tolist()
users_noZeros = df_errors_lista1['user_id'].tolist()

errorsList = []

for i in np.arange(0, lenght):
    user = users_list[i]
    errorsCount = 0;
    found = False
    noZeros_index = -1
    for j in np.arange(len(users_noZeros)):
        user_noZero = users_noZeros[j]
        if(user_noZero==user):
            noZeros_index = j           
    if(noZeros_index>-1):
        errorsList.append(usersErrors_noZeros[noZeros_index])
    else:
        errorsList.append(0)
df_errors_lista1 = df_total_users.copy()
df_errors_lista1['totalErrors'] = errorsList
df_errors_lista1

                                  user_id  totalErrors
0    00ef5626-f029-49e8-aa27-1839357a55c0           23
1    01e8e5bd-3215-4276-9024-5ebc5a6897cf            9
2    025b0056-585f-485e-92e7-57a0c7854cce           16
3    02938d00-c7c8-4eaa-8d6b-3d7b3558abae           23
4    0343690d-9edd-48cf-be09-6dc1f4b3f61c            7
..                                    ...          ...
452  fbf55485-b2ca-429b-89d3-88ef2cd02105           19
453  fd66de81-b657-41bb-9903-73370d0a0158            9
454  fe12589b-3acd-4c67-9387-314b600fb8c3           19
455  fe3c3b36-a1ab-4365-b088-1686cd5177d0            5
456  fe56d94c-26d1-4e75-85d1-0b10a07ece8b           10

[457 rows x 2 columns]

In [115]:
#submissões com total acerto
df_acertos_subms = df_subms_lista1.loc[df_subms_lista1['hitPercentage']>0]
df_acertos_subms2 = df_acertos_subms.groupby('user_id')['hitPercentage'].count().reset_index()

users_acertos_subms = df_acertos_subms2['user_id'].tolist()
num_acertos_subms = df_acertos_subms2['hitPercentage'].tolist()
num_acertosList = []
for i in np.arange(len(users_list)):
    user = users_list[i]
    found = False
    for j in np.arange(len(users_acertos_subms)):
        if(users_acertos_subms[j]==user):
            num_acertosList.append(num_acertos_subms[j])
            found=True
    if(found==False):    
        num_acertosList.append(0)

df_acertos_subms3 = df_total_users.copy()
df_acertos_subms3['algumAcerto'] = num_acertosList
df_acertos_subms3

                                  user_id  algumAcerto
0    00ef5626-f029-49e8-aa27-1839357a55c0            5
1    01e8e5bd-3215-4276-9024-5ebc5a6897cf            6
2    025b0056-585f-485e-92e7-57a0c7854cce            8
3    02938d00-c7c8-4eaa-8d6b-3d7b3558abae           12
4    0343690d-9edd-48cf-be09-6dc1f4b3f61c            7
..                                    ...          ...
452  fbf55485-b2ca-429b-89d3-88ef2cd02105            5
453  fd66de81-b657-41bb-9903-73370d0a0158            4
454  fe12589b-3acd-4c67-9387-314b600fb8c3            6
455  fe3c3b36-a1ab-4365-b088-1686cd5177d0            5
456  fe56d94c-26d1-4e75-85d1-0b10a07ece8b            5

[457 rows x 2 columns]

In [116]:
#quantidade de questões certas na lista
df_acertos_lista = df_acertos_subms.groupby(['user_id', 'question_id'])['hitPercentage'].max().reset_index()
df_acertos_lista2 = df_acertos_lista.groupby('user_id')['question_id'].count().reset_index()

users_acertos_lista = df_acertos_lista2['user_id'].tolist()
num_acertos_lista = df_acertos_lista2['question_id'].tolist()
num_acertos_listaList = []

for i in np.arange(len(users_list)):
    user = users_list[i]
    found = False
    for j in np.arange(len(users_acertos_lista)):
        if(users_acertos_lista[j]==user):
            num_acertos_listaList.append(num_acertos_lista[j])
            found=True
    if(found==False):
        num_acertos_listaList.append(0)

df_acertos_lista2 = df_total_users.copy()
df_acertos_lista2['questoes_certas'] = num_acertos_listaList

df_acertos_lista2

                                  user_id  questoes_certas
0    00ef5626-f029-49e8-aa27-1839357a55c0                5
1    01e8e5bd-3215-4276-9024-5ebc5a6897cf                5
2    025b0056-585f-485e-92e7-57a0c7854cce                5
3    02938d00-c7c8-4eaa-8d6b-3d7b3558abae                5
4    0343690d-9edd-48cf-be09-6dc1f4b3f61c                5
..                                    ...              ...
452  fbf55485-b2ca-429b-89d3-88ef2cd02105                5
453  fd66de81-b657-41bb-9903-73370d0a0158                4
454  fe12589b-3acd-4c67-9387-314b600fb8c3                5
455  fe3c3b36-a1ab-4365-b088-1686cd5177d0                5
456  fe56d94c-26d1-4e75-85d1-0b10a07ece8b                5

[457 rows x 2 columns]

In [117]:
df_acertos_100 = df_subms_lista1.copy()
df_acertos_100 = df_acertos_100.loc[df_acertos_100['hitPercentage']==100]
df_acertos_100 = df_acertos_100.drop_duplicates(subset=['user_id', 'question_id']).reset_index()
df_acertos_100 = df_acertos_100.groupby('user_id')['user_id'].count().reset_index(name='acertos_100')
df_acertos_100

acertos100_list = df_acertos_100['acertos_100'].tolist()
acertos100Users_list = df_acertos_100['user_id'].tolist()
acertos100_update = []

for i in np.arange(len(users_list)):
    user = users_list[i]
    found =False
    for j in np.arange(len(acertos100Users_list)):
        user2 = acertos100Users_list[j]
        if(user==user2):
            found=True
            acertos100_update.append(acertos100_list[j])
    if(found==False):
        acertos100_update.append(0)

df_acertos_100 = df_total_users.copy()
df_acertos_100['acertos_100'] = acertos100_update
df_acertos_100

                                  user_id  acertos_100
0    00ef5626-f029-49e8-aa27-1839357a55c0            5
1    01e8e5bd-3215-4276-9024-5ebc5a6897cf            5
2    025b0056-585f-485e-92e7-57a0c7854cce            5
3    02938d00-c7c8-4eaa-8d6b-3d7b3558abae            5
4    0343690d-9edd-48cf-be09-6dc1f4b3f61c            5
..                                    ...          ...
452  fbf55485-b2ca-429b-89d3-88ef2cd02105            5
453  fd66de81-b657-41bb-9903-73370d0a0158            4
454  fe12589b-3acd-4c67-9387-314b600fb8c3            5
455  fe3c3b36-a1ab-4365-b088-1686cd5177d0            5
456  fe56d94c-26d1-4e75-85d1-0b10a07ece8b            5

[457 rows x 2 columns]

In [118]:
df_users_listas = df_subms_target.copy()
df_users_listas = df_users_listas.drop_duplicates(subset=['user_id', 'listQuestions_id']).reset_index()
df_users_listas = df_users_listas.groupby('user_id')['listQuestions_id'].count().reset_index()

desistente = []
users_desistencia = df_users_listas['user_id'].tolist()
listas_desistencia = df_users_listas['listQuestions_id'].tolist()

for i in np.arange(len(listas_desistencia)):
    if(listas_desistencia[i]<4):
        desistente.append(1)
    else:
        desistente.append(0)
        
df_users_listas['desistente'] = desistente

desistente_target = []
for i in np.arange(len(users_list)):
    user = users_list[i]
    found = False
    for j in np.arange(len(users_desistencia)):
        user2 = users_desistencia[j]        
        if(user==user2):
            desistente_target.append(desistente[j])
            found = True
    if(found==False):
         desistente_target.append(1)

df_users_desistentes = df_total_users.copy()
df_users_desistentes['desistente'] = desistente_target
df_users_desistentes

                                  user_id  desistente
0    00ef5626-f029-49e8-aa27-1839357a55c0           1
1    01e8e5bd-3215-4276-9024-5ebc5a6897cf           0
2    025b0056-585f-485e-92e7-57a0c7854cce           0
3    02938d00-c7c8-4eaa-8d6b-3d7b3558abae           0
4    0343690d-9edd-48cf-be09-6dc1f4b3f61c           0
..                                    ...         ...
452  fbf55485-b2ca-429b-89d3-88ef2cd02105           0
453  fd66de81-b657-41bb-9903-73370d0a0158           0
454  fe12589b-3acd-4c67-9387-314b600fb8c3           0
455  fe3c3b36-a1ab-4365-b088-1686cd5177d0           0
456  fe56d94c-26d1-4e75-85d1-0b10a07ece8b           0

[457 rows x 2 columns]

In [119]:
df_subms_count = df_subms_lista1.copy()
df_subms_count = df_subms_count.groupby('user_id')['user_id'].count().reset_index(name='submissoes')
df_subms_count

                                  user_id  submissoes
0    00ef5626-f029-49e8-aa27-1839357a55c0          28
1    01e8e5bd-3215-4276-9024-5ebc5a6897cf          15
2    025b0056-585f-485e-92e7-57a0c7854cce          24
3    02938d00-c7c8-4eaa-8d6b-3d7b3558abae          35
4    0343690d-9edd-48cf-be09-6dc1f4b3f61c          14
..                                    ...         ...
452  fbf55485-b2ca-429b-89d3-88ef2cd02105          24
453  fd66de81-b657-41bb-9903-73370d0a0158          13
454  fe12589b-3acd-4c67-9387-314b600fb8c3          26
455  fe3c3b36-a1ab-4365-b088-1686cd5177d0          10
456  fe56d94c-26d1-4e75-85d1-0b10a07ece8b          15

[457 rows x 2 columns]

In [120]:
df_questoes_tentadas = df_subms_lista1.copy()
df_questoes_tentadas = df_questoes_tentadas.drop_duplicates(subset=['user_id', 'question_id']).reset_index()
df_questoes_tentadas = df_questoes_tentadas.groupby('user_id')['question_id'].count().reset_index(name = 'questoes_tentadas')
df_questoes_tentadas_list = df_questoes_tentadas['questoes_tentadas'].tolist()

df_subms_por_questao = df_subms_count.copy()
df_subms_por_questao['subms_por_questao'] = df_subms_count['submissoes']/df_questoes_tentadas['questoes_tentadas']
df_subms_por_questao

                                  user_id  submissoes  subms_por_questao
0    00ef5626-f029-49e8-aa27-1839357a55c0          28                5.6
1    01e8e5bd-3215-4276-9024-5ebc5a6897cf          15                3.0
2    025b0056-585f-485e-92e7-57a0c7854cce          24                4.8
3    02938d00-c7c8-4eaa-8d6b-3d7b3558abae          35                7.0
4    0343690d-9edd-48cf-be09-6dc1f4b3f61c          14                2.8
..                                    ...         ...                ...
452  fbf55485-b2ca-429b-89d3-88ef2cd02105          24                4.8
453  fd66de81-b657-41bb-9903-73370d0a0158          13                2.6
454  fe12589b-3acd-4c67-9387-314b600fb8c3          26                5.2
455  fe3c3b36-a1ab-4365-b088-1686cd5177d0          10                2.0
456  fe56d94c-26d1-4e75-85d1-0b10a07ece8b          15                3.0

[457 rows x 3 columns]

In [121]:
df_totalTimeInSeconds = df_subms_lista1.copy()
df_totalTimeInSeconds = df_totalTimeInSeconds.groupby('user_id')['timeConsuming'].sum().reset_index(name='timeToFinishList')
df_totalTimeInSeconds['timeToFinishList']=df_totalTimeInSeconds['timeToFinishList'].divide(1000)
df_totalTimeInSeconds

                                  user_id  timeToFinishList
0    00ef5626-f029-49e8-aa27-1839357a55c0          7200.294
1    01e8e5bd-3215-4276-9024-5ebc5a6897cf          9649.617
2    025b0056-585f-485e-92e7-57a0c7854cce          8850.839
3    02938d00-c7c8-4eaa-8d6b-3d7b3558abae         43774.099
4    0343690d-9edd-48cf-be09-6dc1f4b3f61c          2145.165
..                                    ...               ...
452  fbf55485-b2ca-429b-89d3-88ef2cd02105          7431.786
453  fd66de81-b657-41bb-9903-73370d0a0158          7541.098
454  fe12589b-3acd-4c67-9387-314b600fb8c3         17053.041
455  fe3c3b36-a1ab-4365-b088-1686cd5177d0          7720.783
456  fe56d94c-26d1-4e75-85d1-0b10a07ece8b          4153.020

[457 rows x 2 columns]

In [122]:
df_final = df_errors_lista1.copy()
df_final['algumAcerto'] = df_acertos_subms3['algumAcerto']
df_final['questoesCertas'] = df_acertos_lista2['questoes_certas']
df_final['acertos_100'] = df_acertos_100['acertos_100']
df_final['submissoes'] = df_subms_count['submissoes']
df_final['subms_por_questao'] = df_subms_por_questao['subms_por_questao']
df_final['timeToFinishList'] = df_totalTimeInSeconds['timeToFinishList']
df_final['percTotalError'] = df_errors_lista1['totalErrors']/df_subms_count['submissoes']
df_final['percAlgumAcerto'] = df_acertos_subms3['algumAcerto']/df_subms_count['submissoes']
df_final['percAcerto100'] = df_acertos_100['acertos_100']/df_subms_count['submissoes']
df_final

,user_id,totalErrors,algumAcerto,questoesCertas,acertos_100,submissoes,subms_por_questao,timeToFinishList,percTotalError,percAlgumAcerto,percAcerto100
0,00ef5626-f029-49e8-aa27-1839357a55c0,23,5,5,5,28,5.6,7200.294,0.821429,0.178571,0.178571
1,01e8e5bd-3215-4276-9024-5ebc5a6897cf,9,6,5,5,15,3.0,9649.617,0.600000,0.400000,0.333333
2,025b0056-585f-485e-92e7-57a0c7854cce,16,8,5,5,24,4.8,8850.839,0.666667,0.333333,0.208333
3,02938d00-c7c8-4eaa-8d6b-3d7b3558abae,23,12,5,5,35,7.0,43774.099,0.657143,0.342857,0.142857
4,0343690d-9edd-48cf-be09-6dc1f4b3f61c,7,7,5,5,14,2.8,2145.165,0.500000,0.500000,0.357143
...,...,...,...,...,...,...,...,...,...,...,...
452,fbf55485-b2ca-429b-89d3-88ef2cd02105,19,5,5,5,24,4.8,7431.786,0.791667,0.208333,0.208333
453,fd66de81-b657-41bb-9903-73370d0a0158,9,4,4,4,13,2.6,7541.098,0.692308,0.307692,0.307692
454,fe12589b-3acd-4c67-9387-314b600fb8c3,19,6,5,5,26,5.2,17053.041,0.730769,0.230769,0.192308
455,fe3c3b36-a1ab-4365-b088-1686cd5177d0,5,5,5,5,10,2.0,7720.783,0.500000,0.500000,0.500000
456,fe56d94c-26d1-4e75-85d1-0b10a07ece8b,10,5,5,5,15,3.0,4153.020,0.666667,0.333333,0.333333

In [123]:
#DECISION TREE
y_desist = df_users_desistentes['desistente'].tolist()
x_dados = df_final.drop('user_id', axis=1)
x_dados = x_dados.values

In [124]:
X_train, X_test, y_train, y_test = train_test_split(x_dados, y_desist, test_size=0.30, shuffle=True, random_state=123)

dt_model = DecisionTreeClassifier(criterion='entropy', max_depth=10, random_state=1)
dt_model.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=10, random_state=1)

In [125]:
y_test_pred = dt_model.predict(X_test)

accuracy_score(y_test, y_test_pred)

0.8913043478260869

In [126]:
zeros_real = []
zeros_falsos = []
zeros_corretos = []
ums_falsos = []
ums_real = []
ums_corretos = []

y_pred = y_test_pred.tolist()
for i in np.arange(len(y_test)):
    if(y_test[i]==0):
        zeros_real.append(y_test[i])
        if(y_test[i]!=y_pred[i]):
            ums_falsos.append(y_pred[i])
        else:            
            zeros_corretos.append(y_pred[i])
    if(y_test[i]==1):
        ums_real.append(y_test[i])
        if(y_test[i]!=y_pred[i]):
            zeros_falsos.append(y_pred[i])
        else:
            ums_corretos.append(y_pred[i])
len(ums_falsos)

6

In [127]:
len(zeros_falsos)

9

In [128]:
len(ums_corretos)

8

In [113]:
len(zeros_corretos)

117

In [130]:
dt_filename = "model.pkl"
with open(dt_filename, "wb") as file:
    pickle.dump(dt_model, file)